body {
  margin: 0;
  line-height: normal;
}
a {
  text-decoration: none;
  color: white;
}
.div,
.div1,
.div2,
.div3,
.div4 {
  position: absolute;
  top: 42px;
  left: 1456px;
  display: inline-block;
  width: 84px;
  height: 21px;
}
.div1,
.div2,
.div3,
.div4 {
  top: 39px;
  left: 1037px;
  width: 111px;
}
.div2,
.div3,
.div4 {
  left: 867px;
  width: 114px;
}
.div3,
.div4 {
  left: 676px;
  width: 135px;
}
.div4 {
  left: 489px;
  width: 123px;
}
.logo-icon {
  width: 142px;
  height: 104px;
  object-fit: cover;
}
.about-us-child,
.header,
.logo-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.header {
  width: 1540px;
  height: 104px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-encode-sans-expanded);
  z-index: 1;
}
.about-us-child {
  width: 1046px;
  height: 1025px;
  z-index: 0;
}
.freemuseums-is-a {
  position: absolute;
  top: 377px;
  left: 51px;
  font-size: var(--font-size-6xl);
  font-weight: 900;
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 663px;
  height: 168px;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}
.p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p1 {
  margin: 0;
}
.div5,
.div6 {
  font-weight: 300;
  display: inline-block;
  height: 168px;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}
.div5 {
  position: absolute;
  top: 257px;
  left: 1111px;
  width: 312px;
}
.div6 {
  top: 442px;
  left: 1127px;
  width: 279px;
}
.about-us,
.div6,
.div7 {
  position: absolute;
}
.div7 {
  top: 664px;
  left: 1147px;
  font-weight: 300;
  display: inline-block;
  width: 240px;
  height: 168px;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}
.about-us {
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 1041px;
  overflow: hidden;
}
.div10,
.div11,
.div12,
.div13,
.div8,
.div9,
.freemuseumsgmaicom {
  position: absolute;
  top: 27px;
  left: 1467px;
  font-weight: 500;
  display: inline-block;
  width: 124px;
  height: 29px;
}
.div10,
.div11,
.div12,
.div13,
.div9,
.freemuseumsgmaicom {
  top: 66px;
}
.div10,
.div11,
.div12,
.div13,
.freemuseumsgmaicom {
  top: 105px;
}
.div11,
.div12,
.div13,
.freemuseumsgmaicom {
  top: 144px;
}
.div12,
.div13,
.freemuseumsgmaicom {
  top: 129px;
  left: 673px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-800);
  width: 235px;
  height: 46px;
}
.social {
  position: absolute;
  top: 115px;
  left: 1010px;
  display: inline-block;
  width: 150px;
  height: 50px;
}
.tg {
  position: absolute;
  top: 70px;
  left: 950px;
  display: inline-block;
  width: 50px;
  height: 60px;
}
.inst {
  position: absolute;
  top: 70px;
  left: 1050px;
  display: inline-block;
  width: 50px;
  height: 60px;
}
.whats {
  position: absolute;
  top: 70px;
  left: 1150px;
  display: inline-block;
  width: 50px;
  height: 60px;
}
.dev {
  position: absolute;
  top: 50px;
  left: 1250px;
  display: inline-block;
  width: 180px;
  height: 60px;
}
.div12,
.div13 {
  left: 377px;
  width: 220px;
}
.div13 {
  left: 71px;
}
.footer2-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1609px;
  height: 4px;
}
.gps-logo-2,
.mail-logo-2,
.phone-logo-1 {
  position: absolute;
  top: 55px;
  left: 673px;
  width: 110px;
  height: 73.94px;
  object-fit: cover;
}
.gps-logo-2,
.phone-logo-1 {
  top: 59px;
  left: 377px;
  height: 65.95px;
}
.gps-logo-2 {
  left: 71px;
  width: 65px;
  height: 65.54px;
}
.footer2,
.footer2-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1609px;
  height: 175px;
}
.footer2-wrapper {
  top: 1041px;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 197px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
}
.about-us-parent {
  position: relative;
  width: 100%;
  height: 1238px;
  text-align: center;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-600);
  font-family: var(--font-encode-sans-expanded);
}
:root {
  --font-encode-sans-expanded: "Encode Sans Expanded";

  --font-size-sm: 17px;
  --font-size-base: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 27px;
  --font-size-2xl: 30px;
  --font-size-3xl: 40px;
  --font-size-4xl: 60px;
  --font-size-5xl: 64px;
  --font-size-6xl: 70px;

  --color-gray-100: #d9d9d9;
  --color-gray-200: #15181a;
  --color-gray-300: rgba(249, 249, 249, 0.66);
  --color-gray-400: rgba(255, 255, 255, 0.46);
  --color-gray-500: rgba(255, 255, 255, 0.9);
  --color-gray-600: rgba(254, 254, 254, 0.9);
  --color-gray-700: rgba(255, 255, 255, 0.92);
  --color-gray-800: rgba(255, 255, 255, 0.52);
  --color-white: #fff;

  --br-md: 25px;
}