body {
    margin: 0;
    line-height: normal;
  }
a {
    text-decoration: none;
    color: white;
}
  .div,
  .div1,
  .div2,
  .div3,
  .freemuseumsgmaicom {
    position: absolute;
    top: 27px;
    left: 1467px;
    font-weight: 500;
    display: inline-block;
    width: 124px;
    height: 29px;
  }
  .div1,
  .div2,
  .div3,
  .freemuseumsgmaicom {
    top: 66px;
  }
  .div2,
  .div3,
  .freemuseumsgmaicom {
    top: 105px;
  }
  .div3,
  .freemuseumsgmaicom {
    top: 144px;
  }
  .freemuseumsgmaicom {
    top: 129px;
    left: 673px;
    font-size: var(--font-size-sm);
    color: var(--color-gray-800);
    width: 235px;
    height: 46px;
  }
  .social {
    position: absolute;
    top: 115px;
    left: 1010px;
    display: inline-block;
    width: 150px;
    height: 50px;
  }
  .tg {
    position: absolute;
    top: 70px;
    left: 950px;
    display: inline-block;
    width: 50px;
    height: 60px;
  }
  .inst {
    position: absolute;
    top: 70px;
    left: 1050px;
    display: inline-block;
    width: 50px;
    height: 60px;
  }
  .whats {
    position: absolute;
    top: 70px;
    left: 1150px;
    display: inline-block;
    width: 50px;
    height: 60px;
  }
  .dev {
    position: absolute;
    top: 50px;
    left: 1250px;
    display: inline-block;
    width: 180px;
    height: 60px;
  }
  .p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .p1 {
    margin: 0;
  }
  .div4,
  .div5 {
    position: absolute;
    top: 129px;
    left: 377px;
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--color-gray-800);
    display: inline-block;
    width: 220px;
    height: 46px;
  }
  .div5 {
    left: 71px;
  }
  .footer2-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 1609px;
    height: 4px;
  }
  .gps-logo-2,
  .mail-logo-2,
  .phone-logo-1 {
    position: absolute;
    top: 55px;
    left: 673px;
    width: 110px;
    height: 73.94px;
    object-fit: cover;
  }
  .gps-logo-2,
  .phone-logo-1 {
    top: 59px;
    left: 377px;
    height: 65.95px;
  }
  .gps-logo-2 {
    left: 71px;
    width: 65px;
    height: 65.54px;
  }
  .footer2,
  .footer2-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 1609px;
    height: 175px;
  }
  .footer2-wrapper {
    top: 1041px;
    background-color: var(--color-gray-200);
    width: 100%;
    height: 197px;
    overflow: hidden;
  }
  .div10,
  .div6,
  .div7,
  .div8,
  .div9 {
    position: absolute;
    top: 42px;
    left: 1456px;
    display: inline-block;
    width: 84px;
    height: 21px;
  }
  .div10,
  .div7,
  .div8,
  .div9 {
    top: 39px;
    left: 1037px;
    width: 111px;
  }
  .div10,
  .div8,
  .div9 {
    left: 867px;
    width: 114px;
  }
  .div10,
  .div9 {
    left: 676px;
    width: 135px;
  }
  .div10 {
    left: 489px;
    width: 123px;
  }
  .header,
  .logo-icon {
    position: absolute;
    left: 0;
    height: 104px;
  }
  .logo-icon {
    top: 0;
    width: 142px;
    object-fit: cover;
  }
  .header {
    top: 1px;
    width: 1540px;
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-encode-sans-expanded);
  }
  .news,
  .news-child {
    position: absolute;
    top: 231px;
    left: 111px;
    background-color: #23282A;
    width: 1399px;
    height: 663px;
  }
  .news {
    top: 0;
    left: 0;
    background-color: var(--color-gray-200);
    width: 100%;
    height: 1041px;
    overflow: hidden;
  }
  .frame-parent {
    position: relative;
    width: 100%;
    height: 1238px;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-700);
    font-family: var(--font-encode-sans-expanded);
  }
  input[type=text], input[type=password]{
    width:20%;
    padding:7px 10px;
    margin: 10px 0;
    display:inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
     
    button{
    background-color:#4CAF50;
    width: 10%;
    padding: 9px 5px;
    margin:10px 0px 0px 35px;
    cursor:pointer;
    border:none;
    color:#ffffff;
    font-size: 15px;
    font-weight: bold;
    }
     
    button:hover{
    opacity:0.8;
    }
     
    #container{
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width:600;
        height: 300px;
        text-align: center;
    } 
  :root {
    --font-encode-sans-expanded: "Encode Sans Expanded";
  
    --font-size-sm: 17px;
    --font-size-base: 20px;
    --font-size-lg: 24px;
    --font-size-xl: 25px;
    --font-size-2xl: 27px;
    --font-size-3xl: 30px;
    --font-size-4xl: 40px;
    --font-size-5xl: 60px;
    --font-size-6xl: 64px;
    --font-size-7xl: 70px;
  
    --color-gray-100: #d9d9d9;
    --color-gray-200: #15181a;
    --color-gray-300: rgba(249, 249, 249, 0.66);
    --color-gray-400: rgba(255, 255, 255, 0.46);
    --color-gray-500: rgba(255, 255, 255, 0.9);
    --color-gray-600: rgba(254, 254, 254, 0.9);
    --color-gray-700: rgba(255, 255, 255, 0.92);
    --color-gray-800: rgba(255, 255, 255, 0.52);
    --color-white: #fff;
    --color-black: #000;
  
    --br-md: 25px;
  }   